In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [2]:
data= pd.read_csv('G:\DSA\Activity\week8_activity.csv')
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [3]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [4]:
data.shape

(28, 3)

The number of observations in the sample is less than 30 numbers . So T test can be used for hypothesis testing

# Question 2

Null Hypothesis(H0):There is no significant difference in the marks scored by male and female students

Alternate Hypothesis(Ha): There is significant difference in the marks scored by male and female students

Level of Significance set to 5%

In [5]:
grouped1=data.groupby('Gender')
male_scores= grouped1.get_group('male')['Total Marks'].values
female_scores=grouped1.get_group('female')['Total Marks'].values

In [6]:
t_test_stat, p_value =stats.ttest_ind(female_scores,male_scores,alternative='two-sided')
p_value

0.4937822317960763

Since the p value is greater than the significance level of 0.05, we accept the null hypothesis i.e

There is There is no significant difference in the marks scored by male and female students

# Question 3

Null Hypothesis(H0):There is no effects brought about by the test preparation in the student marks

Alternate Hypothesis(Ha): The test preparation has affected the marks scored by students

Level of Significance set to 5%

In [7]:
grouped1=data.groupby('Test preparation')
completed= grouped1.get_group('completed')['Total Marks'].values
not_comp=grouped1.get_group('none')['Total Marks'].values

In [8]:
t_test_stat, p_value =stats.ttest_ind(completed,not_comp,alternative='greater')
p_value

0.0006335646228660053

Since the p value = 0.006 is less than the significance level of 0.05, we reject the null hypothesis i.e

The test prepatation has had effect on the student marks and the average marks of students who completed 
the test preparation is observed to be greater than that of the other students